@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "./mixins.scss";

$white: white;
$mp0505: 0 5px 0 5px;


button {
  background-color: $white;
  padding: 0;
  cursor: pointer;
}

img {
  object-fit: contain;
}

hr {
  border: 0.5px solid rgb(158, 158, 158);
}

input[type="checkbox"] {
  cursor: pointer;
}

input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  border: none;
}

.todo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  @include todo_styles;

  &__header {
    @include header_styles;
  }

  .add-task,
  .filter {
    background-color: $white;
  }

  .add-task {
    width: 60%;
    padding: 10px 0 10px 0;
    margin-bottom: 50px;

    @include df_jcc_aic;

    &__icon {
      width: 30px;
      height: 30px;
      margin-left: 0.5rem;
    }

    &__text {
      height: 100%;
      width: max(100%);
      margin-left: 20px;
      padding: 0 20px 0 20px;
      font-family: "Roboto Slab", serif;

      &:focus {
        outline: none;
      }
    }

    &__btn {
      margin: 0 10px 0 0;
      @include df_jcc_aic;
    }
  }

  .filter {
    @include df_aic;
    justify-content: space-between;

    .filter-buttons {
      @include df_jcc_aic;

      button {
        color: rgb(68, 140, 207);
        margin: $mp0505;
        padding: $mp0505;
        border-radius: 3px;
        font-weight: 600;
        transition: background-color 0.3s linear;

        &:hover {
          background-color: rgb(184, 184, 184);
          transition: background-color 0.5s linear;
        }
      }
    }
  }

  .task-list {
    &__item {
      padding-right: 8px;
      @include df_aic;

      .task-title {
        margin-left: 10px;
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .delete-btn {
        opacity: 0.4;
        margin-left: auto;
        transition: all 0.3s linear;
        @include df_aic;
      }

      &:hover {
        .delete-btn {
          opacity: 1;
        }
      }
    }
  }
}
